body {
  background: black;
  color: white;
}
header, main, footer {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

nav a {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid white;
  margin-right: 8px;
}
